<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AspNetVNext" value="http://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="NuGet" value="http://nuget.org/api/v2/" />
    <add key="AzureAD" value="http://www.myget.org/F/azureadwebstacknightly"/>
  </packageSources>
</configuration>
